{% extends 'base.html.twig' %}

{% block title %}{{ event.name }} - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event_show') }}
    <style>
        .event-view header{
            background-image: url('{{ event.picture|buildMediaPath }}');
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event_show') }}
{% endblock %}

{% block mainClass %}no-padding{% endblock %}

{% block body %}
    <section class="event-view">
        <header>
            <h1>{{ event.name }}</h1>
        </header>

        <div class="event-view__content">
            <p>{{ event.description }}</p>
            <aside>
                <div>
                    <i class="fas fa-euro-sign"></i>
                    {{ event.price ?? 'Gratuit' }}
                </div>
                <div>
                    <i class="fas fa-calendar"></i>
                    {{ event.startAt|date('d/m/Y H:i') }}
                </div>
                <div>
                    <i class="fas fa-map-marker"></i>
                    {{ event.place.label }}
                </div>
            </aside>
        </div>

        {% if is_granted('EVENT_MODIFY', event) %}
            <div class="event-view__actions">
                <a href="{{ path('event_edit', {
                    id: event.id
                }) }}" class="button">Modifier</a>
                <a href="{{ path('event_delete', {
                    id: event.id
                }) }}" class="button">Supprimer</a>
            </div>
        {% endif %}
    </section>
{% endblock %}
