<header>
    <img src="{{ asset('build/images/logo.png') }}" alt="Logo de MusicOne">

    <nav>
        <ul>
            <li>
                <a href="{{ path('event_index') }}">
                    Nos événements
                </a>
            </li>
            <li>
                <a href="{{ path('event_new') }}">
                    Créer un événément
                </a>
            </li>
            <li>
                <a href="{{ path('main_contact') }}">
                    Contact
                </a>
            </li>
        </ul>
    </nav>

    <aside>
        {% if app.user %}
            {{ app.user.displayName }}
            <a href="{{ path('security_logout') }}">Déconnexion</a>
        {% else %}
            <a href="{{ path('security_login') }}">Connexion</a>
            <a href="{{ path('security_register') }}">Inscription</a>
        {% endif %}
    </aside>
</header>