{% extends 'base.html.twig' %}

{% block title %}
    Votre commande - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('checkout_finish') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('checkout_finish') }}
{% endblock %}

{% block body %}
    <h2>Réservation Déjà effectué</h2>
{% endblock %}